@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: adlib;
  src: url('./fonts/AdLib.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/*@tailwind variants;*/

.atma {
  font-family: Atma;
}
body{
  font-family: adlib;
  background: #ffffff;
}

.text-light-blue{
  color: #7AAEDC;
}
.big-digits {
  font-size: 3.875rem;
}